.grave {
  width: 150px;
  height: 250px;
  background-color: #585858;
  border-radius: 20px 20px 0 0;
}

.name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.detail {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.date {
  margin-top: 5px;
}

.rip {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
