.yunuki {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 280px;
    background-color: #dd83ce;
    border-radius: 70% 70% 60% 60%/ 50% 50% 60% 60%;
    position: relative;
    padding: 40px;
    animation: move 5s infinite;
  }
  
  .eye {
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    animation: blink 3s infinite;
  }
  
  .mouth {
    width: 120px;
    height: 20px;
    border: 2px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 50px 50px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .leg {
    width: 20px;
    height: 60px;
    background-color: #dd83ce;
    border-bottom: 3px solid #000;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: -20px;
  }
  
  .leg.left {
    left: 20%;
  }
  
  .leg.right {
    right: 20%;
  }
  
  @keyframes blink {
    0%,
    20%,
    100% {
      height: 25px;
    }
    10% {
      height: 1px;
    }
  }
  
  @keyframes move {
    0%,
    100% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(50px);
    }
  }
  
  @keyframes moveLeg {
    0%,
    100% {
      bottom: -10px;
    }
    50% {
      bottom: -20px;
    }
  }
  
  .leg {
    animation: moveLeg 0.5s infinite;
  }